<div style="position: fixed; top:200px; left: 5%;font-family: 'Arial';font-size: 10em;color:#fff;"> > </div>
<div id="beginning"></div>
<input type="button" value="scroll" (click)="goToEnd()" >
<div style="height:200px;"></div>
<div style="width:60%;font-size: 7em;text-transform: uppercase;line-height: 1.5em; margin-left:15%;font-family: 'Arial Black';color:#fff;">
This is a test text here that will scroll for 10 seconds.  This is what you need to read for 10 seconds.
</div>
<div id="end" style="height:5000px; margin-top:-1em"></div>

np
